# NestJS Specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temp / Cache Directories
.temp
.tmp
.cache
.next/cache


# Next.js / React Build Output
.next/
out/
build/
dist/

# Coverage Reports
coverage/
*.lcov

# TypeScript
*.tsbuildinfo

# OS / System Files
.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak

# Deployment / CI/CD Artifacts
.vercel/
firebase-debug.log
*.tgz
*.zip
